/* Configurações Padrões */
body, html {
    padding: 0;
    margin: 0;
    font-family: "Roboto",sans-serif ;
}

body {
    display: flex;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}


.menu__default {
    text-align: center;
}

.home__principal__banner {
    max-width: 100%;
    width: 1298px;
    height: 500px;
    object-fit: cover;
}

.container__default {
    margin: 0 25px;
}
.menu__link {
    text-decoration: none;
    padding: 0 10px;
}
.logo__header {
    max-width: 20%;
}

.menu__itens {
    display: inline-block;
}

section.historia__content {
    margin-top: 40px;
}

section.contact__content {
    margin-top: 40px;
}

.historia__list {
    display: inline-flex;
    padding: 0 24px;
}

.historia__title {
    text-align: center;
}

.historia__itens--content {
    border: solid 1.5px;
}

.hitoria__img {
    width: 396px;
    height: 396px;
    object-fit: cover;
}

.img--right {
    margin-right: 16px;
}

.img--left {
    margin-left: 16px;
}


.contact__itens.item--left {
    margin: 0px 32px;
}

li.contact__itens.item--right {
    margin: 0 -16px;
}

.contact__list {
    display: inline-flex;
}

.contact__img {
    width: 431px;
    height: 431px;
    object-fit: cover;
}

@media (max-width: 991px){
    width: 100%;
}