/* Configurações Padrões */
body,
html {
    padding: 0;
    margin: 0;
    font-family: "Cookie", sans-serif;
    color: #c19d56;
}

body {
    display: flex;
    max-width: 1298px;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
}


.container__default {
    margin: 0 10px;
}




/* Menu Config */


.menu__default {
    text-align: center;
}

.home__principal__banner {
    max-width: 100%;
    width: 1280px;
    height: 500px;
    object-fit: cover;
    margin-left: 13px;
}

.banner__content {
    margin: 0 10px;
}


.menu__link {
    text-decoration: none;
    padding: 0 10px;
    color: #c19d56;
}

.logo__header {
    max-width: 20%;
}

.menu__itens {
    display: inline-block;
    font-size: 32px;
}






/* Primeira Section config */

.historia__content {
    margin-top: 40px;
    width: 100%;
}

.contact__content {
    margin-top: 40px;
}


.historia__list {
    display: inline-flex;
    padding: 0 24px;
}

.historia__title {
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
}

.historia__itens_content {
    border: solid 1.5px;
    margin-bottom: 22px;
    border-color: #c19d56;
    width: 416px;
}

.hitoria__img {
    width: 416px;
    height: 350px;
    object-fit: cover;
}

.img_right {
    margin-left: 16px;
    margin-top: -20px;
}

.img_left {
    margin-right: 16px;
    margin-top: -20px;
}




/* Segunda Section config */


.contact__itens {
    width: 416px;
}

.contact__content {
    margin-top: 40px;
}

.item_left {
    height: 350px;
    border: solid 1px;
    margin-right: 16px;
    border-color: #c19d56;

}

.item_right {
    border: solid 1.5px;
    margin-left: 16px;
    margin-bottom: 5px;
    border-color: #c19d56;
}

.contact__list {
    display: inline-flex;
    padding: 0 24px;
}

.contact__title {
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
}

.contact__img {
    width: 416px;
    height: 350px;
    object-fit: cover;
}

.contact__paragraph-top {
    margin-bottom: 0;
}

.contact__paragraph {
    margin: 0;
}




/* Terceira Section config */

.down__content {
    text-align: center;
    margin-top: 32px;
}

.down__title_maior {
    margin-top: 0;
    font-size: 72px;
}

.down__title_menor {
    margin-bottom: 0;
    font-size: 32px;
}

.form__list {
    margin-left: 170px;
}

.form_caption {
    display: block;
}


#nome {
    width: 850px;
    border-color: #c19d56;
    border-radius: 4px;
}

#email {
    width: 850px;
    border-color: #c19d56;
    border-radius: 4px;
}

#msg {
    width: 850px;
    border-color: #c19d56;
    border-radius: 4px;
}


/* Mobile Config */

@media (max-width: 991px) {
    .home__principal__banner {
        max-width: 100%;
        height: 100%;
    }

    .logo__header {
        max-width: 50%;
    }

    .menu__itens {
        display: inline-block;
        font-size: 64px;
    }
}